<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newer.purchase.dao.StockAllMapper">
	<resultMap type="com.newer.purchase.pojo.Orders" id="orders-result">
		<id property="id" column="ID" />
		<result property="materialCode" column="MATERIAL_CODE" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="amount" column="AMOUNT" />
		<result property="sumPrice" column="SUM_PRICE" />
		<result property="buildDate" column="BUILD_DATE" />
	</resultMap>
	<resultMap type="com.newer.purchase.pojo.OrdersMapping" id="ordersMapping-result">
		<id property="id" column="ID" />
		<result property="materialCode" column="MATERIAL_CODE" />
		<result property="materialName" column="MATERIAL_NAME" />
		<result property="amount" column="AMOUNT" />
		<result property="sumPrice" column="SUM_PRICE" />
		<result property="buildDate" column="BUILD_DATE" />
		<result property="mappingId" column="MAPPING_ID" />
	</resultMap>
	
	<resultMap type="com.newer.purchase.pojo.Supplier" id="supplier-result">
		<id property="id" column="ID" />
		<result property="company" column="COMPANY" />
	</resultMap>
	
	<sql id="pageSQLHead">
		select MATERIAL_CODE,MATERIAL_NAME,AMOUNT,SUM_PRICE,BUILD_DATE from 
		(select row_number() over (
	</sql>

	<sql id="orderBy">
		<if test="sort != null and order != null">
			order by
			<choose>
				<when test="sort == 'materialCode'">MATERIAL_CODE</when>
				<when test="sort == 'materialName'">MATERIAL_NAME</when>
				<when test="sort == 'amount'">AMOUNT</when>
				<when test="sort == 'sumPrice'">SUM_PRICE</when>
				<when test="sort == 'buildDate'">BUILD_DATE</when>
			</choose>

			<if test="order == 'asc'">asc</if>
			<if test="order == 'desc'">desc</if>
		</if>
	</sql>

	<sql id="WhereCase">		
	      <if test="materialCode != null and materialCode != ''">
	        and MATERIAL_CODE LIKE CONCAT(CONCAT('%', #{materialCode}),'%')
	      </if>
	      <if test="materialName != null and materialName != ''">
	        and MATERIAL_NAME LIKE CONCAT(CONCAT('%', #{materialName}),'%')
	      </if>
	</sql>

	<sql id="pageSQLFoot">
    <![CDATA[ ) where rn > #{pageno} and rn <= #{pagesize}  ]]>
	</sql>

	<select id="findPager" resultMap="ordersMapping-result">
	select ID,MATERIAL_CODE,MATERIAL_NAME,AMOUNT,SUM_PRICE,BUILD_DATE,MAPPING_ID from 
	(select row_number() over ( 
	<include refid="orderBy" />
		) rn,o.*,d.ID as MAPPING_ID from ORDERS o JOIN ID_MAPPING d ON o.ID=d.ORDER_ID where STATUS='C001-20'
    <include refid="WhereCase" />
    <include refid="pageSQLFoot" />	
	</select>


	<select id="findPagerTotal" resultType="long">
		select count(MATERIAL_CODE) from ORDERS o JOIN ID_MAPPING d ON o.ID=d.ORDER_ID where STATUS='C001-20' 
		<include refid="WhereCase" />
	</select>
	
	<select id="findName" parameterType="String" resultMap="supplier-result">
	  select COMPANY,s.ID
	  from SUPPLIER s,SUPP_MATERIAL sm,MATERIAL m 
	  where m.ID=sm.MATERIAL_ID and sm.SUPPLIER_ID=s.ID and MATERIAL_NUM=#{materialNum}
	</select>
	
</mapper>