<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newer.purchase.dao.SuMaSupViewMapper">

	<resultMap type="com.newer.purchase.pojo.SuMaSupView" id="suMaSupView-result">
		
		<result property="supplierNum" column="SUPPLIERNUM" />
		<result property="certificate" column="CERTIFICATE" />
		<result property="company" column="COMPANY" />
		<result property="kind" column="KIND" />
		<result property="materialNum" column="MATERIALNUM" />
		<result property="materialName" column="MATERIALNAME" />
		<result property="materialType" column="MATERIALTYPE" />
	</resultMap>
	
	

	<sql id="pageSQLHead">
		select SUPPLIERNUM,CERTIFICATE,COMPANY,KIND,
		MATERIALNUM,MATERIALNAME,MATERIALTYPE
		 from
		(select row_number() over(
	</sql>

	<sql id="orderBy">
		<if test="sort != null and order != null">
			order by
			<choose>
				
				<when test="sort == 'supplierNum'">SUPPLIERNUM</when>
				<when test="sort == 'certificate'">CERTIFICATE</when>
				<when test="sort == 'company'">COMPANY</when>
				<when test="sort == 'kind'">KIND</when>
				<when test="sort == 'materialNum'">MATERIALNUM</when>
				<when test="sort == 'materialName'">MATERIALNAME</when>
				<when test="sort == 'materialType'">MATERIALTYPE</when>
				<otherwise>COMPANY</otherwise>
			</choose>

			<if test="order == 'asc'">asc</if>
			<if test="order == 'desc'">desc</if>
		</if>
	</sql>

	<sql id="WhereClase">
		<where>
			1=1
			<if test="company != null and company != ''">
				and COMPANY LIKE #{company}
			</if>
			<if test="materialName != null and materialName != ''">
				and MATERIALNAME LIKE #{materialName}
			</if>
			
		</where>
	</sql>

	<sql id="pageSQLFoot">
    <![CDATA[ ) where rn > #{pageno} and rn <= #{pagesize} ]]>
	</sql>

	<select id="findPager" resultMap="suMaSupView-result">
		<include refid="pageSQLHead" />
		<include refid="orderBy" />
		) rn,v.* from v_su_ma_sup v
		<include refid="WhereClase" />
		<include refid="pageSQLFoot" />
	</select>


	<select id="findPagerTotal" resultType="long">
		select count(SUPPLIERNUM) from v_su_ma_sup
		<include refid="WhereClase" />
	</select>
	
	
	
	
	

	
	
	
	
	
</mapper>